%p#notice= notice

%p
  %b Titile:
  = @hoge.titile
%p
  %b Comment:
  = @hoge.comment
%p
  %b Startdate:
  = @hoge.startdate
%p
  %b Enddate:
  = @hoge.enddate

= link_to 'Edit', edit_hoge_path(@hoge)
\|
= link_to 'Back', hoges_path
